//colors
$smokey: #ecf0f3;
$ash: #3f4a4e;

// Neumorphism Property
$pop-shdw: 8px 8px 10px #d1d9e6, -3px -3px 10px #fafafa;
$pop-shdw-hover: 10px 5px 10px #cdcfd3, -8px -8px 15px #fafafa;
$pop-shdw-press: inset -3px -3px 7px #fafafa, inset 3px 3px 5px #d1d9e6;

* {
  outline: none;
}
body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: -moz-scrollbars-none;
  background-color: $smokey;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

.round-obj {
  border-radius: 50%;
}

.screen {
  margin: 0 auto;
  width: 50%;
}
