@import '../variables.scss';

.msngr-cont {
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: 3vh;
  box-shadow: $pop-shdw;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  .search {
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    .search-input {
      width: 80%;
      border-radius: 25px;
      border: none;
      padding: 20px;
      background: transparent;
      box-shadow: 8px 8px 10px #d1d9e6, -8px -8px 10px #fafafa;
      font-size: 24px;
      transition: all 0.3s ease-in;
      clear: both;
    }
    .search-input:hover {
      box-shadow: 8px 8px 15px #d1d9e6, -8px -8px 15px #fafafa;
    }
    .search-input:focus {
      background-color: #ffffff;
    }

    .search-btn {
      color: $ash;
      margin-left: 5px;
      width: 75px;
      height: 75px;
      border: none;

      box-shadow: $pop-shdw;
    }
  }
  .search-btn:active {
    box-shadow: $pop-shdw-press;
  }
  .chat-room-list {
    width: 90%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    .chat-room-item {
      box-shadow: $pop-shdw;
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
      height: 105px;
      justify-content: space-between;
      margin-bottom: 25px;
      border-radius: 10px;
      .avatar {
        width: 85px;
        height: 85px;
        align-self: center;
        background-size: cover;
        border: 10px solid $smokey;
        box-shadow: $pop-shdw;
      }
      .item-stuff {
        margin-top: 15px;
        margin-left: 15px;
        flex-grow: 1.5;
        .user-info {
          font-size: 24px;
          line-height: 40px;
        }
        .last-msg {
          font-size: 18px;
          width: 80%;
          display: inline;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .time {
        align-self: center;
      }
    }
  }
}
