@import '../variables.scss';

.noti-cont {
  width: 20%;
  min-width: 300px;
  height: 95vh;
  position: fixed;
  top: 2.5vh;
  right: 25px;
  border-radius: 2.5%;
  box-shadow: $pop-shdw;
  transition: all 0.5s ease-in;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;

  .noti-header {
    text-align: center;
    font-size: 24px;
    line-height: 70px;
    border-bottom: 0.1px #d1d9e6 solid;

    flex-direction: column;
  }
  .noti-itm {
    height: 100px;
    display: flex;
    padding: 15px;
    border-bottom: #d1d9e6 1px solid;
    display: flex;
    flex-wrap: wrap;
    .noti-avatar {
      height: 75px;
      width: 75px;
      align-self: center;
    }

    .noti-content {
      padding-left: 20px;
      line-height: 25px;
    }

    .noti-time {
      //   align-self: center;
      position: absolute;
      right: 15px;
    }
  }
}
.noti-cont::-webkit-scrollbar {
  width: 0 !important;
}
.noti-cont:hover {
  box-shadow: $pop-shdw-hover;
}
