@import '../variables.scss';

.settings {
  width: 90%;
  padding: 25px;
  box-shadow: $pop-shdw;
  position: relative;
  margin: 0 auto;
  top: 10vh;
  text-align: center;
  .settings-opt {
    display: block;
    text-decoration: none;
    color: $ash;
    margin: 25px;
    padding: 25px;
    font-size: 24px;
    border-radius: 15px;
    box-shadow: $pop-shdw;
    transition: all 0.3s ease-in-out;
  }
  .settings-opt:active {
    box-shadow: $pop-shdw-press;
  }
  .danger:hover {
    color: #fff;
    background-color: #f06661;
  }
  .danger:active {
    box-shadow: inset -3px -3px 7px #7c7c7c, inset 3px 3px 5px #af7d7d;
  }
}
